/*police 

    font-family: 'Cormorant Garamond', serif;

    font-family: 'Expletus Sans', cursive;

    font-family: 'Cormorant Upright', serif;*/
/*[class*="col-"],
footer {
    background-color: lightgreen;
    border: 2px solid black;
    border-radius: 6px;
    line-height: 40px;
    text-align: center;
}*/

body {
  background: url("../image/background1.jpg") center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding-top: 9em;
}
.img-responsive {
  box-shadow: 10px 15px 25px black;
    margin-top: 0.9em;
}
.border {
  border-left: 2px solid lightgrey;
    border-radius: 5%;
    background-color: rgba(0, 0, 0, 0.4);
}
.border li {
  font-family: 'Expletus Sans', cursive;
  font-size: 1.5em;
  color: white;
  font-weight: lighter;
}
.border i {
  color: black;
}
.icone {
    font-size: 2em;
    color: white;
}
.icone a {
  font-size: 1.2em;
  color: white;
  margin-left: 5px;
}
.icone a:hover {
  color: black;
}
.menu {
  box-shadow: 15px 15px 25px black;
  background-color: rgba(51, 122, 183, 0.6);
}
.menu a {
  font-family: 'Expletus Sans', cursive;
  font-weight: bold;
  font-size: 1.2em;
  color: white;
}
.menu ul li a:hover {
  background-color: #337ab7; /*rgba(51, 122, 183, 0.6);*/
  border-radius: 10px;
  border-bottom: 2px solid black;
}
.rappel {
  font-family: 'Cormorant Garamond', serif;
  font-weight: bold;
  font-size: 1.8em;
  color: white;
}
.presentation {
  font-family: 'Cormorant Upright', serif;
  color: white;
  font-size: 2em;
  line-height: 2;
  font-weight: bold;
}
.encadrement {
  border-radius: 20px;
  border-bottom: 5px solid black;
  box-shadow: 5px 15px 25px black;
}
.titre1 {
  color: white;
  font-family: 'Cormorant Garamond', serif;
  font-size: 3em;
}
.drapeau img {
  margin-top: 20px;
  border-radius: 25%;
}
.drapeau span {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}
.drapeau i {
    color: white;
}
.footer {
  line-height: 4;
  margin: 60px 0px 30px 0px;
  font-size: 1.2em;
  color: black;
}


